/* Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Molle:ital@1&display=swap');


/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/


body {
     color: #FEB72B;
     background: #10375C;
     line-height: 1.4;
     margin: 0;
     min-height: 100vh;
}

h1, h2 {
     font-family: 'Molle', cursive;
     
}



/******************************************
/* LAYOUT
/*******************************************/
ul {
     margin: 0;
     padding: 0;
     list-style: none;
}

a {
     text-decoration: none;
     color: #FEB72B;
}

.logo {
     margin: 0;
     font-size: 3.5em;
     font-family: 'Molle', cursive; 
     padding: 10px 10px;
     text-align: center;
     display: block;
     color: #FEB72B;
}

.main-nav {
     margin-top: 5px;
     font-family: 'Lato', sans-serif;
     line-height: 2;
}



.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
	color: #FEB72B;
     font-size: .99em;
     margin: 2px;
}

.main-nav a:hover {
	color: #FFEFA0;
}


.header {
	padding-top: .5em;
	padding-bottom: .5em;
	border-bottom: 1px solid #FEB72B;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.main-nav .fab {
     font-size: 2em;
}

.homepage-gallery {
     display: flex; 
}

.gallery-preview {
     flex: 33.33%;
     padding: 5px;
     width: 33.33%;
     height: 600px; /*change height?*/     
     border: 1px solid #FEB72B;
}

.cuts {
     background-image: url("/img/gallery/gthb90.jpg");
     background-color: #10375C;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     position: relative;
}

.colors {
     background-image: url("/img/gallery/gthb46.jpg");
     background-color: #10375C;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     position: relative;
}

.styles {
     background-image: url("/img/gallery/gthb53.jpg");
     background-color: #10375C;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     position: relative;
}

.gallery-preview h2 {
     text-align: center;
     position: absolute;
     top: 88%;
     left: 50%;
     transform: translate(-50%, -50%);
     font-size: 2.75em;
     font-weight: normal;
     padding: 10px;
     margin: 10px;
     width: 80%;
     background-color: #10375C;
     border: 2px solid #FEB72B;
     opacity: .8;
     border-radius: 5px;
}

.gallery-preview h2:hover {
     opacity: .9;
}

.booking-wrapper {
     text-align: center;
}

.booking {
     border: 2px solid #FEB72B;
     font-size: 2.5em;
     display: inline-block;
     padding: 1%;
     margin: 1%;
     border-radius: 5px;
     font-weight: normal;
}

footer {
     border-top: 2px solid #FEB72B;
     padding: 1%;
     display: flex;
     font-family: 'Lato', sans-serif;   
}

footer section {
     flex: 33.33%;
     padding: 1%;
     border-bottom: 2px solid #FEB72B; 
 
}



.footer-hairsmith span, img, a {
     display: block;
     text-align: center;
}

.footer-hairsmith img {
     height: auto;
     width: auto;
     max-height: 100px;
     max-width: 200px;
     margin-left: auto;
     margin-right: auto; 
}

.footer-insta span, a{
     display: block;
     text-align: center;
}

.footer-insta .fab{
     font-size: 60px;
     text-decoration: none;
     height: auto;
     width: auto;
     max-height: 100px;
     max-width: 100px;
     margin-left: auto;
     margin-right: auto;
     margin-top: 2%;
     display: block;
     text-align: center;
}

.footer-email {
     text-align: center; 
}

.footer-email * {
     display: block;
     margin-left: auto;
     margin-right: auto;
     padding: 1%;
}

/******************************************
/* GALLERY PAGE STYLES
/*******************************************/
#gallery-container {
     column-count: 4;
     column-gap: .75em;
     margin:1em auto;
     padding: 2%;
         
     
     
}

.gallery-thumbnail {
     
     display: inline-block;
     margin: auto;
     width: 100%;
     border: 2px solid #FEB72B;
     border-radius: 1.5px;
  
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/


/* ================================= 
  Media Queries
==================================== */
@media screen and (min-width: 769px) {
	.header,
     .main-nav
     
      {
          display: flex;
          
	}
     .header
      {
		flex-direction: column;
		align-items: center;
		margin: 0 auto;
		
     }

     
}

@media screen and (max-width: 769px){
     .homepage-gallery, footer, #gallery-container {
       display: block;
       column-count: 1;
     
     }
     .gallery-preview, footer>section, .gallery-thumbnail{
       width: 100%;
     }

     .main-nav {
          line-height: 1.2;
          font-size: 1.5em;
     }
   }
   

@media screen and (min-width: 1025px) {
     .header
      {
		flex-direction: row;
		justify-content: space-between;
     }
    
}
